body {
    background-color: #0277bd;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.form {
    background-color: #fff;
    padding: 20px 40px 30px;
    border-radius: 15px;
    width: 100%;
    max-width: 500px;
}

.form h3 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 25px;
    font-weight: 500;
    color: #0277bd;
}

.form__label {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    position: relative;
    border: 1px solid #0277bd;
    display: block;
}

.form__label input {
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    background: transparent;
    font-size: 18px;
    position: absolute;
    bottom: 0;
}

.form__label span {
    position: absolute;
    color: #0277bd;
    top: 13px;
    left: 15px;
    font-weight: 500;
    transition: 0.2s;
    cursor: text;
}

.form__label input:focus + span,
.form__label input:valid + span {
    top: -8px;
    left: 10px;
    background-color: #fff;
    font-size: 12px;
    padding: 0 7px;
}

.border {
    width: 0;
    height: 2px;
    position: absolute;
    bottom: 0;
    background-color: #0277bd;
    transition: 0.2s;
}

.form__label input:focus ~ .border,
.form__label input:valid ~ .border {
    width: 100%;
}

.btn {
    background-color: #0277bd;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    text-transform: uppercase;
    padding: 13px 50px;
    display: block;
    margin: 0 auto;
    transition: 0.2s;
    border-radius: 2px;
    box-shadow: 0 5px 0 #0d47a1;
}

.btn:hover {
    transform: translateY(3px);
    box-shadow: 0 2px 0 #0d47a1;
}
